
h1{
    color: chartreuse;
}

p{
    color: white;
    background-color: blue;
    padding: 20px;
    border: 5px solid black;
}

.conten{
    border: black 1px solid;
    margin: 50px;
    padding: 20px;
    background-color: aqua;
}